<ion-view class="listEvents-view">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-ios-compose-outline" ui-sref="create-event()"></button>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>Created Events</span>
  </ion-nav-title>

  <ion-content scroll="false" padding="true">
        <ion-list>
          <ion-item ng-repeat="event in events"
            class="item-thumbnail-left" href="#/{{event.id}}" ui-sref="event({eventID: event.id})">
              <img ng-src="{{event.img}}">
              <h2>{{event.name}}</h2>
              <p>{{event.date}}</p>
              <ion-option-button class="button-positive" ng-click="share(item)">
                Share
              </ion-option-button>
              <ion-option-button class="button-info" ng-click="edit(item)">
                Edit
              </ion-option-button>
              <ion-delete-button class="ion-minus-circled" ng-click="items.splice($index, 1)">
              </ion-delete-button>
              <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(item, $fromIndex, $toIndex)">
              </ion-reorder-button>

            </ion-item>

        </ion-list>

  </ion-content>
</ion-view>


